.cart-item {
  margin: 10px;
  height: 100px;
  gap: 5px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}

.cart-item > img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 3px;
}

.quantity-changer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3px;
}

.remove-btn {
  border: none;
  color: #fff;
  background: #3d6b78;
  padding: 3px 6px;
  border-radius: 3px;
}

.brand {
  color: #3d6b78;
}
