.filterer {
  display: flex;
}

.selection {
  flex: 1;
  height: 30px;
  padding: 5px;
  background: #fff;
  border: 1px solid #bebebe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 13px;
}

.option {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #bebebe;
}

.option > p {
  padding: 0 5px;
  cursor: pointer;
  font-size: 16px;
}
.option > p:nth-child(odd) {
  background: #bebebe;
}
